body {
  width: 100%;
  background-color: #cccccc;

  color: #000000;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;

}

a {
  display: block;
  text-decoration: none;
  color: #000000;

  cursor: pointer;

}
p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  padding: 13px;
  border: 2px solid #000000;
  background-color: #ffffff;

  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;

  cursor: pointer;
  text-align: center;
}
.button:hover, 
.button:focus {
  background-color: #444444;
  color: #ffffff;
  border: 2px solid #444444;
}
.button:active {
  color: #7c7c7c;
  border: 2px solid #444444;
}

.visually-hidden {
  position: absolute;
  width: 10px;
  height: 1px;

  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* HEADER */

.navigation {
  position: relative;
  width: 320px;

  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f9f9f9;

}

.navigation__logo {
  padding-top: 17px;
  padding-bottom: 17px;

  order: -1;
  margin: 0 auto;
}

.navigation__logo:hover, 
.navigation__logo:focus {
  opacity: 0.6;
}

.navigation__logo:active {
  opacity: 0.3;
}
.navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;
  border: none;
  padding: 30px;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  margin-bottom: 4px;
}
.line3 {
  margin-bottom: 0;
}

.navigation__menu {
  
}
.navigation__item {
  position: relative;
  width: 100%;
  height: 100%;
  
  padding-left: 75px;
  
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.navigation__link {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #666666;

}

.navigation__link:active {
  color: #b2b2b2;
}
.link-search::before {
  content:" ";
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 30px;

  width: 18px;
  height: 19px;
  background: url('../img/index/search.png') 0 0 no-repeat;

}

.link-search:hover::before,
.link-search:focus::before {
  background: url('../img/index/search-green.png') 0 0 no-repeat;
}

.link-search:active::before {
  opacity: 0.5;
}

/* .navigation__search {
  width: 250px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 30px;
  
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;

  color: #000000;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

.navigation__search-wrap {
  display: none;
} */

.link-cart::before  {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 15px;

  width: 50px;
  height: 50px;
  background: url('../img/index/cart.png') center center no-repeat;

}

.link-cart:hover::before,
.link-cart:focus::before {
  background: url('../img/index/cart-green.png') center center no-repeat;
}
.link-cart:active::before {
  opacity: 0.5;
}

.main-header__add-menu {
  display: none;

}
.main-header__delivery-link {
  display: none;

  font-size: 15px;
  line-height: 24px;

}

@media (min-width: 768px) {

  .navigation {
   width: 768px;
   height: 88px;
  }

  .navigation {
    flex-direction: row;
    border-bottom: 1px solid #ececec;
  }

  .site-list {
    position: absolute;
    bottom: -40px;
    order: 2;

    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 50px;
  }

  .navigation__logo {
  width: 25%;
  margin-left: 50px;
  
  }
  .navigation__item {
    width: 50%;
    padding-left: 0;
    border: none;
  }

  .search-list {
    width: 44%;
    margin-right: 50px;

    display: flex;
    flex-wrap: wrap;
  }

  .item-search {
    width: 84px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    font-size: 0;
    width: 25%;
  }
  
  .navigation__button {
    left: 50%;
    margin-left: -25px;
  }

  .item-cart {
  width: 250px;
  padding-left: 70px;
  }

  .link-cart {
    padding-top: 32px;
    padding-bottom: 30px;
    width: 190px;
  }

  .link-cart::before  {
    left: 10px;
   }

    .navigation__toggle {
    display: none;
  }

  .site-list {
    position: absolute;
    bottom: -65px;

    z-index: 5;
  }  
}

@media (min-width: 1250px) {
  .navigation {
    width: 1250px;
    height: 90px;
   }

  .site-list {
    width: 395px;
    margin-left: 100px;
    order: 0;
    top:5px;
  }
  .navigation__logo {
    width: 150px;
    order: 0;
    margin-left: 540px;
    padding-top: 10px;
  }
   
  .navigation__item:not(.item-search) {
    width: 180px;
    height: 90px;
  }

  .navigation__item:first-child {
    border-right: 1px solid #ececec;
  }
  .navigation__item:nth-child(2) {
    margin-left: 30px;
  }
  .search-list {
    width: 370px;
    margin-right: 100px;
  }
  
  .link-search::before {
    top: 50%;
    margin-top: -18px;
    left: 35px;
  }
  .item-cart {
    padding-left: 60px;
  }
  
  .link-cart::before {
    left: -10px;
  }
}

/* MAIN-HEADER */

.main-header {
  position: relative;
  width: 320px;
  height: 500px;
  

  margin: 0 auto;
  background-color: #fafafa;
  background: url('../img/index/mobile/hero.png') center 0 no-repeat;
  
}

.main-header__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
}

.main-header__title {
  width: 78%;
  margin: 0 auto;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;
}
.main-header__intro {
  width: 130px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
}
.main-header__good {
  position:absolute;
  
  width: 320px;
  height: 100px;
  padding-top: 25px;
  padding-left: 30px;

  cursor: pointer;
  
}

.main-header__good--lamp {
  background-color: #63d1bb;
  left: 0;
  bottom: 100px;
}

.main-header__good--lamp:hover {
  transform: scaleY(1.05);
}

.main-header__good--lamp:active {
  opacity: 0.8;
}

.main-header__good--lamp::after {
  content: "";

  position: absolute;
  top:50%;
  margin-top: -31px;
  right: 35px;

  width: 40px;
  height: 62px;

  background: url('../img/index/interior.png') 0 0 no-repeat;
}

.main-header__good--toy {
  background-color: #56c3b2;
  right: 0;
  bottom: 0;
  
}
.main-header__good--toy:hover {
  transform: scaleY(1.05);
}

.main-header__good--toy:active {
  opacity: 0.8;
}

.main-header__good--toy::after {
  content: "";

  position: absolute;
  top:50%;
  margin-top: -30px;
  right: 27px;
  
  width: 60px;
  height: 60px;

  background: url('../img/index/toy.png') 0 0 no-repeat;
}

@media (min-width:768px) {

  .main-header {
    width: 768px;
    height: 746px;
    background-color: #f9f9f9;
    background: url('../img/index/tablet/hero.png') 0 0 no-repeat;

    background-size: cover;
  }
  
  .main-header__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 160px;
  }
  .main-header__title {
    width: 70%;

    font-size: 43px;
    line-height: 50px;
  }

  .main-header__good--lamp {
    width: 334px;
    height: 117px;

    left: 50px;
    bottom: 0;
  }
  .main-header__good--toy {
    width: 334px;
    height: 117px;

    right: 50px;
  }

  .main-header__goods::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 768px;
    height: 24px;

    background: url('../img/index/tablet/zigzag.png') 0 0 no-repeat;
  }

  .main-header__delivery-link {
    display: block;
    position: absolute;
    top: 15px;
    right: 50px;

    z-index: 5;
  }
}

@media (min-width:1250px) {
  .main-header {
    width: 1250px;
    
    background: url('../img/index/desktop/hero.png') 0 0 no-repeat;
    background-size: cover;
  }
  
  .main-header__wrapper {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 210px;
  }
  .main-header__add-menu {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: absolute;
    top: 15px;
    left: 100px;
    
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;

  }
  .main-header__link {
    padding: 15px;
    padding-left: 0;
    cursor: pointer;
  }

  .main-header__link:hover,
  .main-header__link:focus {
    color: #666666;
  }

  .main-header__link:active {
    color: #b2b2b2;;
  }

  .main-header__delivery-link {
    right: 100px;
    padding: 15px;
    padding-right: 0;
  }

  .main-header__title {
    font-size: 53px;
    line-height: 57px;
  }

  .main-header__good--lamp {
    width: 525px;
    height: 118px;

    left: 100px;
   }
  .main-header__good--toy {
    width: 525px;
    height: 118px;

    right: 100px;
  }

  .main-header__goods::after {
    width: 1250px;
    height: 34px;

    background: url('../img/index/desktop/zigzag.png') 0 0 no-repeat;
  }
}

/* MAIN-GOOD */

.main-good {
  position: relative;
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-good___wrapper {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.main-good__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  margin-bottom: 10px;
}

.main-good__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  color: #63d1bb;
}

.main-good__text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-good__table {
  width: 100%;

  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.main-good__table td {
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: 1px solid #ececec;
}

.main-good__table td:first-child {
  width: 95px;
}

.main-good__photo {
  width: 100%;
  
  margin-top: 30px;
  margin-bottom: 15px;
 

}
.main-good__img {
  min-width: 270px;
}
.main-good__cost {
  width: 100%;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.main-good__button {
  width: 100%;
  margin-top: 25px;
}

.main-good::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 320px;
  height: 6px;

  background: url('../img/index/mobile/zigzag.png') 0 0 no-repeat;
}

@media (min-width: 768px) {

  .main-good {
    position: relative;
    width: 768px;
    height: 610px;
  }

  .main-good___wrapper {
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
  }
  
  .main-good__wrapper-title {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-good__title {
    font-size: 43px;
    line-height: 50px;
  }

  .main-good__label {
    width: 120px;

    margin-top: 15px;

    display: block;
    line-height: 17px;
    text-align: center;
  }
  .main-good__wrapper-desc {
    
    width: 100%;
    
  }

  .main-good__desc {
    width: 290px;
  }

  .main-good__text {
    font-size: 17px;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .main-good__photo {
    position: absolute;
    top: 120px;
    right: 0;

    width: 50%;
    order: 5;
  }

  .main-good__price {
    width: 290px;
  }

  .main-good__cost {
    margin-top: 60px;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 24px;
  }

  .main-good::after {
    width: 768px;
    height: 24px;
  
    background: url('../img/index/tablet/zigzag-1.png') 0 0 no-repeat;
  }
}

@media (min-width: 1250px) {

  .main-good {
    width: 1250px;
    height: 810px;
  }
  
  .main-good___wrapper {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 110px;
    padding-bottom: 300px;
  }
  .main-good__wrapper-title {
    justify-content: start;

  }

  .main-good__title {
    position: absolute;
    left: 270px;
    font-size: 53px;
    line-height: 57px;
    z-index: 5;
  }

  .main-good__label {
    order: -1;
    margin-left: 25px;
    margin-right: 25px;
  }

  .main-good__photo {
    top: 35px;
    z-index: 2;
  }
  .main-good__wrapper-desc {

    margin-left: 175px;
  }

  .main-good__text {
    margin-top: 45px;
    margin-bottom: 55px;
  }
  .main-good__cost {
    margin-top: 115px;
    
  }
  .main-good::after {
    left: 100px;

    width: 1050px;
    height: 23px;
      
    background: url('../img/index/desktop/zigzag-1.png') 0 0 no-repeat;
  }
}

/* ABOUT-US */

.about-us {
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
  
}

.about-us__wrapper {
  padding: 30px;
  padding-bottom: 40px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  margin-bottom: 85px;
}

.about-us__list {
  
}
.about-us_item {
  position: relative;
  width: 100%;

   
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  margin-bottom: 80px;
}

.about-us_item:last-child {
  margin-bottom: 0;
}

.item-ecology::before {
  content: "";

  position: absolute;
  top: -55px;
  left: 0;
  width: 33px;
  height: 38px;

  background:url('../img/index/icons/icon-1.png') 0 0 no-repeat;
}

.item-skandi::before {
  content: "";

  position: absolute;
  top: -55px;
  left: 0;
  width: 47px;
  height: 27px;

  background:url('../img/index/icons/icon-2.png') 0 0 no-repeat;
}

.item-likes::before {
  content: "";

  position: absolute;
  top: -53px;
  left: 0;
  width: 34px;
  height: 27px;

  background:url('../img/index/icons/icon-3.png') 0 0 no-repeat;
}

.item-handmade::before {
  content: "";

  position: absolute;
  top: -50px;
  left: 0;
  width: 35px;
  height: 34px;

  background:url('../img/index/icons/icon-4.png') 0 0 no-repeat;
}

.item-russian::before {
  content: "";

  position: absolute;
  top: -50px;
  left: 0;
  width: 55px;
  height: 23px;

  background:url('../img/index/icons/icon-5.png') 0 0 no-repeat;
}

.item-present::before {
  content: "";

  position: absolute;
  top: -50px;
  left: 0;
  width: 33px;
  height: 32px;

  background:url('../img/index/icons/icon-6.png') 0 0 no-repeat;
}

@media (min-width: 768px) {
  .about-us {
    width: 768px;
  }
  
  .about-us__wrapper {
    padding: 50px;
    padding-bottom: 0;
  }
  .about-us__title {
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 105px;
  }

  .about-us__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .about-us_item {
    width: 300px;
    margin-right: 30px;
    margin-bottom: 100px;
  }
  .about-us_item:last-child {
    margin-bottom: 70px;
  }
  .item-russian {
    margin-bottom: 70px;
  }
}

@media (min-width: 1250px) {
  .about-us {
    width: 1250px;
  }
  
  .about-us__wrapper {
    padding-top: 65px;
    padding-left: 275px;
    padding-right: 275px;
    padding-bottom: 0px;
  }

  .about-us_item {
    font-size: 20px;
    line-height: 22px;
    margin-right: 50px;
    margin-bottom: 80px;
  }

  .about-us_item:last-child {
    margin-bottom: 0;
  }

}

/* REVIEW */

.review {
  position: relative;
  width: 320px;
  min-height: 640px;
  margin: 0 auto;

  background-color: #ffffff;
}

.review::after {
  content: "";

  position: absolute;
  bottom: 0;
  right: 0;

  width: 320px;
  height: 6px;

  background: url('../img/index/mobile/zigzag.png') 0 0 no-repeat;
}

.review__wrapper {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.review__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

}

.review__item--one {
  display: none;
}

.review__item--two {
  display: none;
}

.review__item--three {
  display: none;
}

.review-show {
  display: block;
}


.review__text {
  width: 100%;
  min-height: 265px;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 30px;
  font-weight: 400;

}

.review__author {
  font-size: 17px;
  line-height: 30px;
}

.review__name {
  font-weight: 700;
  margin-bottom: 10px;
}
.review__slider {
  width: 100%;
  height: 50px;

  margin-top: 30px;
  margin-bottom: 40px;

  display: flex;
  flex-wrap: wrap;
}
.review__button {
  width: 50%;
  padding: 15px;

  font-size: 0;
  background-color: transparent;
  border: 1px solid #ececec;

  cursor: pointer;
}

.review__button:hover,
.review__button:focus {
  opacity: 0.6;
}

.review__button:active {
  opacity: 0.3;
}

.review__prev {
  background: url('../img/index/left.png') center center no-repeat;
  border-right: none;
}

.review__next {
  background: url('../img/index/right.png') center center no-repeat;

}
.review__write {
  width: 100%;
}

@media (min-width: 768px) {
  .review {
    width: 768px;
    min-height: 540px;
  }
  .review::after {
    width: 768px;
    height: 17px;

    background: url('../img/index/tablet/zigzag-1.png') 0 0 no-repeat;
  }
  
  .review__wrapper {
    position: relative;

    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 120px;

    background: url('../img/index/tablet/review.jpg') 0 0 no-repeat;
  }
  .review__title {
    font-size: 43px;
    line-height: 50px;
  }

  .review__text {
    min-height: 125px;
    margin-top: 50px;
    margin-bottom: 60px;
  
    font-size: 17px;
    line-height: 30px;
  }

  .review__author {
    font-size: 18px;
    line-height: 24px;
    width: 210px;
  }

  .review__slider {
    position: absolute;
    top: 330px;
    right: 70px;
    width: 160px;
  }

  .review__button {
    border: none;
  }

  .review__write {
    position: absolute;
    top: 80px;
    right: 50px;

    width: 175px;
  }
}

@media (min-width: 1250px) {
  .review {
    width: 1250px;
  }

  .review::after {
    width: 1050px;
    height: 23px;
    right: 100px;

    background: url('../img/index/desktop/zigzag-1.png') 0 0 no-repeat;
  }
  .review__wrapper {
    position: relative;

    padding-top: 65px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 190px;
    
    background: url('../img/index/tablet/review.jpg') 100px 0 no-repeat;
  }

  .review__title {
    font-size: 53px;
    line-height: 57px;

    margin-left: 175px;
  }

  .review__text {
    width: 760px;
    min-height: 130px;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: 175px;
  }

  .review__slider {
    top: 300px;
    right: 120px;
    
  }
  .review__author {
    margin-left: 175px;
    margin-top: 35px;
  }
  
  .review__write {
    right: 100px;
  }

}

/* CONTACTS */

.contacts {
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
}

.contacts__text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__info {
  width: 100%;
  border-collapse: collapse;
  
  margin-top: 35px;
  
  font-size: 15px;
  line-height: 30px;

}
  .contacts__info td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .contacts__info td:first-child {
    width: 75px;
    display: flex;
    align-items: start;
    
  }
.contacts__e-mail {
  font-size: 15px;
  line-height: 30px;
  border-bottom: 1px solid #62d1ba;
}

.contacts__e-mail:hover,
.contacts__e-mail:focus {
  color: #62d1ba;
}

.contacts__e-mail:active {
  opacity: 0.4;
}

.contacts__map {
  width: 100%;
  height: 459px;

  background: url('../img/index/mobile/map.jpg') 0 0 no-repeat;
}

.contacts__feedback {
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
}
.contacts__feedback-button {
  width: 260px;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
  }

  .contacts__text {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 65px;
    padding-bottom: 50px;
  }

  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 47px;
    height: 81px;

    background: url('../img/index/tablet/flag.png') 0 0 no-repeat;
  }

  .contacts__info tbody {
    width: 100%;

    display: flex;

    font-size: 17px;
  }
  .contacts__e-mail {
    font-size: 17px;

  }
  .contacts__info tr {
    width: 50%;

    display: flex;
  }

  .contacts__info td:first-child {
    width: 70px;
  }
  .contacts__info td:last-child {
    width: 205px;
  }

  .contacts__map {
  background: url('../img/index/tabletmap.jpg') 0 0 no-repeat;
  }
  .contacts__feedback {
    padding-top: 55px;
    padding-bottom: 55px;

    text-align: center;
  }

  .contacts__feedback-button {
    width: 230px;
  }

}

@media (min-width: 1250px) {

  .contacts {
    position: relative;
    width: 1250px;
  }

  .contacts__text {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 135px;
    padding-bottom: 70px;
  }

  .contacts__map {
    position: absolute;
    top: 70px;
    right: 100px;
    width: 525px;
  }
  
  .contacts__info tbody {
    width: 300px;
    margin-left: 175px;

    display: block;
  }
  .contacts__info tr {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacts__info td:first-child {
    width: 25%;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
  }

  .contacts__title::after {
    top: 0;
    right: 930px;

  }

  .contacts__feedback {
    padding-top: 0;
    padding-bottom: 110px;
    padding-left: 275px;
    text-align: left;
  }

  .contacts__feedback-button {
    width: 230px;
  }

 
}


/* FOOTER */

.footer {
  width: 320px;
  height: 80px;
  margin: 0 auto;
  
  background-color: #f1f1f1;
}

.footer__logo {
  display: none;
}
.footer__socials {
  width: 220px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.footer__link {
  display: block;
  width: 60px;
  height: 80px;
  
  font-size: 0;
}
.link-ig {
background: url('../img/index/insta.png') center center no-repeat;
}

.link-ig:hover,
.link-ig:focus {
  background: url('../img/index/insta-green.png') center center no-repeat;
}

.link-ig:active {
  opacity: 0.6;
}

.link-fb {
  background: url('../img/index/fb.png') center center no-repeat;
  }

.link-fb:hover,
.link-fb:focus {
  background: url('../img/index/fb-green.png') center center no-repeat;
  }

.link-fb:active {
  opacity: 0.6;
}
.link-tw {
  background: url('../img/index/twitter.png') center center no-repeat;
  }

.link-tw:hover,
.link-tw:focus {
  background: url('../img/index/twitter-green.png') center center no-repeat;
  }

  .link-tw:active {
    opacity: 0.6;
  }


@media (min-width: 768px) {
  .footer {
    width: 768px;
    
  }
  .footer__logo {
    display: flex;
    
    width: 25%;
  }
  .footer__logo--link {
    display: block;
    width: 150px;
    height: 50px;
    
    

    font-size: 0;
    background: url('../img/index/logo-footer.png') center center no-repeat;
  }
  .footer__logo--link:hover,
  .footer__logo--link:focus {
    background: url('../img/index/logo-footer-green.png') center center no-repeat;
  }
  .footer__logo--link:active{
    opacity: 0.6;
  }

  .footer__socials {
    margin: 0;
    width: 30%;
    justify-content: flex-end;
  }

  .footer__wrapper {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

}

@media (min-width: 1250px) {
  .footer {
    width: 1250px;
    min-height: 130px;
    
  }
  .footer__wrapper {
    padding-top: 25px;
    padding-left: 175px;
    padding-right: 175px;
  }
}